.modal {
	display: flex;
	flex-direction: column;
	background-color: transparent;
}
.modal__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	height: 60px;
	background-color: whitesmoke;
}
.redColor {
	color: red;
}

.modal__content {
	padding: 20px;
	color: white;
}
.modal__content > p {
	color: #000;
}